<h1> <i class="far fa-eye"></i> Ver Aspirante (persona natural)</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>

 <td>Nombres</td>
 <td>Apellidos</td>
 <td>Tipodocumento</td>
 <td>Documento</td>
 <td>Fechanacimiento</td>
 <td>Ciudad</td>
 <td>Direccion</td>
 <td>Telefono</td>
 <td>Celular</td>
 <td>Email</td>
 <td>Profesion</td>
 <td>Seccional</td>
 <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let aspirantenatural of aspirantenatural">

<td>{{ aspirantenatural.nombres}}</td>
<td>{{ aspirantenatural.apellidos}}</td>
<td>{{ aspirantenatural.tipodocumento[0].nombre}}</td>
<td>{{ aspirantenatural.documento}}</td>
<td>{{ aspirantenatural.fechanacimiento}}</td>
<td>{{ aspirantenatural.ciudad[0].nombre}}</td>
<td>{{ aspirantenatural.direccion}}</td>
<td>{{ aspirantenatural.telefono}}</td>
<td>{{ aspirantenatural.celular}}</td>
<td>{{ aspirantenatural.email}}</td>
<td>{{ aspirantenatural.profesion}}</td>
<td>{{ aspirantenatural.seccional[0].nombre}}</td>
<td><a [routerLink]="['edit', aspirantenatural._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteAspirantenatural(aspirantenatural._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
