<h1> <i class="far fa-eye"></i> Ver Tipocontacto</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let tipocontacto of tipocontacto">
<td>{{ tipocontacto.nombre}}</td>
<td>{{ tipocontacto.descripcion}}</td>
<td><a [routerLink]="['edit', tipocontacto._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteTipocontacto(tipocontacto._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
