<h1> <i class="far fa-edit"></i> Editar Factura</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select (change)="changeSeccional($event.target.value)" class="form-control"  formControlName="seccional" #seccional   [(ngModel)]="factura.afiliado[0].seccional[0]._id" >
          <option>elija una opción </option>
          <option [value]="seccional._id" *ngFor="let seccional of seccionales">{{seccional.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['seccional'].invalid && (angForm.controls['seccional'].dirty || angForm.controls['seccional'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['seccional'].errors.required">
          Seccional es requerido.
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Afiliado</label>
        <select  class="form-control selectpicker"  formControlName="afiliado" #afiliado [(ngModel)]="factura.afiliado[0]._id">
          <option>elija una opción </option>
          <option [value]="afiliado._id" *ngFor="let afiliado of afiliadosFilter">{{afiliado.nombres}} {{afiliado.documento}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['afiliado'].invalid && (angForm.controls['afiliado'].dirty || angForm.controls['afiliado'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['afiliado'].errors.required">
          afiliado es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">numero</label>
        <input type="number" min="0" class="form-control" formControlName="numero" #numero  [(ngModel)] = "factura.numero"/>
      </div>

      <div class="form-group">
        <label class="col-md-4">valor pagado</label>
        <input type="number" min="0" class="form-control" formControlName="v_pagado" #v_pagado [(ngModel)] = "factura.v_pagado"/>
      </div>
      <div class="form-group">
        <label class="col-md-4">fecha de pago</label>
        <input type="date" class="form-control" formControlName="fecha_pago" #fecha_pago [(ngModel)] = "factura.fecha_pago" />
      </div>
      <form [formGroup]="documentForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">detalle documento</label>
          <input type="text" class="form-control" formControlName="detalle" #detalle />
        </div>
      <div class="form-group">
        <label class="col-md-4">Documento</label>
        <input class="form-control" type="file" formControlName="file" name="file" (change)="postMethod($event.target.files)"/>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Documento</th>
          <th>Ver documento</th>
          <th>Borrar</th>
        </tr>
        <tr *ngFor="let documento of todosDocumento ; let i = index">
          <td>{{documento.detalle}}</td>
          <td><a href={{documento.file}}>{{documento.file}}</a></td>
          <td> <button class="btn btn-warning" type="button" (click)="deleteDocumento(i)">x</button></td>
        </tr>
      </table>
      </form>
    

      <div class="form-group">
        <label class="col-md-4">estado</label>
        <select  class="form-control" formControlName="estado" #estado [(ngModel)] = "factura.estado">
          <option value=''>elija una opción </option>
          <option >PAGADA</option>
          <option >PENDIENTE</option>
          <option >ANULADA</option>
        </select>
      </div>
      <div class="form-group">
        <button (click)="editFactura(angForm.value)"
          [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Crear Factura</button>
      </div>

    </form>
  </div>
</div>
