<h1> <i class="far fa-eye"></i> Ver Tipoempresa</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Estado</td>
 <td>Abreviacion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let tipoempresa of tipoempresa">
<td>{{ tipoempresa.nombre}}</td>
<td>{{ tipoempresa.descripcion}}</td>
<td>{{ tipoempresa.estado}}</td>
<td>{{ tipoempresa.abreviacion}}</td>
<td><a [routerLink]="['edit', tipoempresa._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteTipoempresa(tipoempresa._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
