<h1> <i class="far fa-eye"></i> Ver Contacto</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Afiliado</td>
 <td>Tipocontacto</td>
 <td>Valor</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let contacto of contacto">
<td>{{ contacto.afiliado}}</td>
<td>{{ contacto.tipocontacto}}</td>
<td>{{ contacto.valor}}</td>
<td><a [routerLink]="['edit', contacto._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteContacto(contacto._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
