<h1> <i class="far fa-eye"></i> Ver Afiliado</h1>

<p></p>
&nbsp;
<button class="btn btn-warning" (click)="atras()"><i class="fa fa-step-backward"></i></button>
&nbsp;
<button class="btn btn-info" routerLink="/afiliadofiltro">Realizar filtro</button>
&nbsp;
<div>
<table  datatable [dtOptions]="dtOptions" class="cell-border" *ngIf="myTable">
  <thead>
    <tr>
      <td><strong>Código</strong></td>
      <td><strong>Clasifiación de Afiliado Acodal</strong></td>
      <td><strong>Nombre</strong></td>
      <td><strong>NIT</strong></td>
      <td><strong>Clases según Estatuto</strong></td>
      <td><strong>Seccional</strong></td>
      <td><strong>Ciudad</strong></td>
      <td><strong>Dirección</strong></td>
      <td><strong>Contacto</strong></td>
      <td><strong>Acciones</strong></td>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let afiliado of afiliado">
      <td>{{ afiliado.codigocliente}}</td>
      <td>{{ afiliado.tipoafiliado[0].nombre}}</td>
      <td>{{ afiliado.nombres}}</td>
      <td>{{ afiliado.documento}}</td>
      <td>{{ afiliado.categoria[0].nombre}}</td>
      <td>{{ afiliado.seccional[0].nombre}}</td>
      <td>{{ afiliado.ciudad[0].nombre}}</td>
      <td>{{ afiliado.direccion}}</td>
      <td>{{ afiliado.telefono}}</td>
      
      <td><a title="Detalle"  [routerLink]="['detail', afiliado._id]" class="btn btn-primary"><i class="fa fa-list"></i></a>&nbsp;&nbsp;
        <a title="Editar" *ngIf="User.seccional[0] === afiliado.seccional[0]._id || !IsAdmin"  [routerLink]="['edit', afiliado._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
        <a title="Borrar" 
        [hidden]="IsAdmin" (click)="open(content)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Borrar</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>¿ seguro que desea borrar ?</p>
                <button title="Borrar" type="button" class="btn btn-danger" (click)="deleteAfiliado(afiliado._id)">Borrar</button>
            </div>
            <div class="modal-footer">
             
            </div>
          </ng-template>
      </td>

    </tr>
  </tbody>
</table>
</div>


<hr>

<pre>{{closeResult}}</pre>