/*
   server-side-angular-way.component.css
*/
@import url(https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css);
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

  hr.style1{
	border-top: 1px solid #8c8b8b;
}

