<h1> <i class="far fa-edit"></i> Editar Tipodocumento</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre [(ngModel)] = "tipodocumento.nombre"/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcion" #descripcion [(ngModel)] = "tipodocumento.descripcion"/>
</div>
<div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['descripcion'].errors.required">
Descripcion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Abreviacion</label>
<input type="text" class="form-control" formControlName="abreviacion" #abreviacion [(ngModel)] = "tipodocumento.abreviacion"/>
</div>
<div *ngIf="angForm.controls['abreviacion'].invalid && (angForm.controls['abreviacion'].dirty || angForm.controls['abreviacion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['abreviacion'].errors.required">
Abreviacion es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateTipodocumento(nombre.value, descripcion.value, abreviacion.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Tipodocumento</button>
  </div>

    </form>
  </div>
</div>