<h1> <i class="far fa-eye"></i> Ver Categoria</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Estado</td>
 <td>Abreviacion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let categoria of categoria">
<td>{{ categoria.nombre}}</td>
<td>{{ categoria.descripcion}}</td>
<td>{{ categoria.estado}}</td>
<td>{{ categoria.abreviacion}}</td>
<td><a [routerLink]="['edit', categoria._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteCategoria(categoria._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
