<h1> <i class="far fa-eye"></i> Ver Seccional</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Direccion</td>
 <td>Ciudad</td>
 <td>Cubrimiento</td>
 <td>Estado</td>
 <td>Telefono</td>
 <td>Email</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let seccional of seccional">
<td>{{ seccional.nombre}}</td>
<td>{{ seccional.descripcion}}</td>
<td>{{ seccional.direccion}}</td>
<td>{{ seccional.ciudad}}</td>
<td>{{ seccional.cubrimiento}}</td>
<td>{{ seccional.estado}}</td>
<td>{{ seccional.telefono}}</td>
<td>{{ seccional.email}}</td>
<td><a [routerLink]="['edit', seccional._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteSeccional(seccional._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
