<h1> <i class="far fa-edit"></i> Editar Documento</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Afiliado</label>
<select class="form-control" formControlName="afiliado" #afiliado >
<option  [value]="afiliado._id" *ngFor="let afiliado of Afiliado" >{{afiliado.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['afiliado'].invalid && (angForm.controls['afiliado'].dirty || angForm.controls['afiliado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['afiliado'].errors.required">
Afiliado es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Tipodocumentosoporte</label>
<select class="form-control" formControlName="tipodocumentosoporte" #tipodocumentosoporte >
<option  [value]="tipodocumentosoporte._id" *ngFor="let tipodocumentosoporte of Tipodocumentosoporte" >{{tipodocumentosoporte.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['tipodocumentosoporte'].invalid && (angForm.controls['tipodocumentosoporte'].dirty || angForm.controls['tipodocumentosoporte'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipodocumentosoporte'].errors.required">
Tipodocumentosoporte es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Urldocumento</label>
<input type="text" class="form-control" formControlName="urldocumento" #urldocumento [(ngModel)] = "documento.urldocumento"/>
</div>
<div *ngIf="angForm.controls['urldocumento'].invalid && (angForm.controls['urldocumento'].dirty || angForm.controls['urldocumento'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['urldocumento'].errors.required">
Urldocumento es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateDocumento(afiliado.value, tipodocumentosoporte.value, urldocumento.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Documento</button>
  </div>

    </form>
  </div>
</div>