<h1> <i class="far fa-eye"></i> Ver Grupoafinidad</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Abreviacion</td>
 <td>Subafinidad</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let grupoafinidad of grupoafinidad">
<td>{{ grupoafinidad.nombre}}</td>
<td>{{ grupoafinidad.descripcion}}</td>
<td>{{ grupoafinidad.abreviacion}}</td>
<td><p *ngFor="let sub of grupoafinidad.subafinidad" >{{sub.nombre}}</p></td>
<td><a [routerLink]="['edit', grupoafinidad._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteGrupoafinidad(grupoafinidad._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
