<h1> <i class="far fa-edit"></i> Editar Grupoafinidad</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre [(ngModel)] = "grupoafinidad.nombre"/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcion" #descripcion [(ngModel)] = "grupoafinidad.descripcion"/>
</div>
<div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['descripcion'].errors.required">
Descripcion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Abreviacion</label>
<input type="text" class="form-control" formControlName="abreviacion" #abreviacion [(ngModel)] = "grupoafinidad.abreviacion"/>
</div>
<div *ngIf="angForm.controls['abreviacion'].invalid && (angForm.controls['abreviacion'].dirty || angForm.controls['abreviacion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['abreviacion'].errors.required">
Abreviacion es requerido.
</div>
</div>
<div class="card">
  <div class="card-body">
      <h3>Subafinidad</h3>
<form [formGroup]="angFormSubafinidad" novalidate>
  <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombreSub" #nombreSub/>
</div>
<div *ngIf="angFormSubafinidad.controls['nombreSub'].invalid && (angFormSubafinidad.controls['nombreSub'].dirty || angFormSubafinidad.controls['nombreSub'].touched)" class="alert alert-danger">
<div *ngIf="angFormSubafinidad.controls['nombreSub'].errors.required">
nombreSub es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcionSub" #descripcionSub/>
</div>
<div *ngIf="angFormSubafinidad.controls['descripcionSub'].invalid && (angFormSubafinidad.controls['descripcionSub'].dirty || angFormSubafinidad.controls['descripcionSub'].touched)" class="alert alert-danger">
<div *ngIf="angFormSubafinidad.controls['descripcionSub'].errors.required">
descripcionSub es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Abreviacion</label>
<input type="text" class="form-control" formControlName="abreviacionSub" #abreviacionSub/>
</div>
<div *ngIf="angFormSubafinidad.controls['abreviacionSub'].invalid && (angFormSubafinidad.controls['abreviacionSub'].dirty || angFormSubafinidad.controls['abreviacionSub'].touched)" class="alert alert-danger">
<div *ngIf="angFormSubafinidad.controls['abreviacionSub'].errors.required">
abreviacionSub es requerido.
</div>
</div>
<div class="form-group">
 <button (click)="addSubafinidad(nombreSub.value, descripcionSub.value, abreviacionSub.value)"
 [disabled]="angFormSubafinidad.pristine || angFormSubafinidad.invalid"
 class="btn btn-primary"><i class="far fa-plus-square"></i></button>
</div>
<table class="table table-bordered">
    <tr>
      <th>Subafinidad</th>
      <th>Borrar</th>
    </tr>
    <tr *ngFor="let subafinidad of subafinidades ; let i = index">
      <td>{{subafinidad.nombre}}</td>
      <td> <button class="btn btn-warning" type="button" (click)="deleteAfinidad(i)">x</button></td>
    </tr>
  </table>
 </form>
  </div>
</div>
<div class="form-group">
    <button (click)="updateGrupoafinidad(nombre.value, descripcion.value, abreviacion.value)"
    
    class="btn btn-primary"> Grupoafinidad</button>
  </div>

    </form>
  </div>
</div>