<h1> <i class="far fa-plus-square"></i> Editar Afiliado</h1>


<div class="card">
  <div class="card-body">
    <h3 style="text-align: center;"><strong>Tipo de afiliado</strong></h3>
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Tipo afiliado</label>
        <select [attr.disabled]="IsSeccional ? true : null"  class="form-control" [value]="afiliado.tipoafiliado[0]._id"  (change)="changetipo($event.target.value)"
          formControlName="tipoafiliado" #tipoafiliado>
          <option>elija una opción </option>
          <option [value]="tipoafiliado._id" *ngFor="let tipoafiliado of Tipoafiliado">{{tipoafiliado.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['tipoafiliado'].invalid && (angForm.controls['tipoafiliado'].dirty || angForm.controls['tipoafiliado'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['tipoafiliado'].errors.required">
          Tipoafiliado es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Clases según Estatuto</label>
        <select [attr.disabled]="IsSeccional ? true : null" class="form-control" [value]="afiliado.categoria[0]._id" formControlName="categoria" #categoria [(ngModel)]="afiliado.categoria">
          <option>elija una opción </option>
          <option [value]="categoria._id" *ngFor="let categoria of Categoria">{{categoria.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['categoria'].invalid && (angForm.controls['categoria'].dirty || angForm.controls['categoria'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['categoria'].errors.required">
          Clases según Estatuto es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Codigo cliente</label>
        <input [attr.disabled]="IsSeccional ? true : null"   type="text" class="form-control" formControlName="codigocliente" #codigocliente
          [(ngModel)]="afiliado.codigocliente" />
      </div>
      <div
        *ngIf="angForm.controls['codigocliente'].invalid && (angForm.controls['codigocliente'].dirty || angForm.controls['codigocliente'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['codigocliente'].errors.required">
          Codigocliente es requerido.
        </div>
      </div>
      <h3 style="text-align: center;"><strong>Información general</strong></h3>
      <div class="form-group">
        <label class="col-md-4">Nombres</label>
        <input type="text" class="form-control" formControlName="nombres" #nombres [(ngModel)]="afiliado.nombres" />
      </div>

      <div
        *ngIf="angForm.controls['nombres'].invalid && (angForm.controls['nombres'].dirty || angForm.controls['nombres'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['nombres'].errors.required">
          Nombres es requerido.
        </div>
      </div>
      <div class="form-group" [hidden]="IsApellidos">
        <label class="col-md-4">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos" #apellidos
          [(ngModel)]="afiliado.apellidos" />
      </div>
      <div
        *ngIf="angForm.controls['apellidos'].invalid && (angForm.controls['apellidos'].dirty || angForm.controls['apellidos'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['apellidos'].errors.required">
          Apellidos es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Clasificación</label>
        <select [attr.disabled]="IsSeccional ? true : null" class="form-control" 
         [value]="afiliado.clasificacion[0]._id" formControlName="clasificacion" #clasificacion>
          <option>elija una opción </option>
          <option [value]="clasificacion._id" *ngFor="let clasificacion of Clasificacion">{{clasificacion.nombre}}
          </option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['clasificacion'].invalid && (angForm.controls['clasificacion'].dirty || angForm.controls['clasificacion'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['clasificacion'].errors.required">
          Clasificacion es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tipo de documento</label>
        <select [attr.disabled]="IsSeccional ? true : null" class="form-control" [value]="afiliado.tipodocumento[0]._id" formControlName="tipodocumento" #tipodocumento>
          <option>elija una opción </option>
          <option [value]="tipodocumento._id" *ngFor="let tipodocumento of Tipodocumento">{{tipodocumento.nombre}}
          </option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['tipodocumento'].invalid && (angForm.controls['tipodocumento'].dirty || angForm.controls['tipodocumento'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['tipodocumento'].errors.required">
          Tipodocumento es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Numero de documento</label>
        <input [attr.disabled]="IsSeccional ? true : null"  type="text" class="form-control" formControlName="documento" #documento  [(ngModel)] = "afiliado.documento"/>
      </div>
      <div
        *ngIf="angForm.controls['documento'].invalid && (angForm.controls['documento'].dirty || angForm.controls['documento'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['documento'].errors.required">
          Documento es requerido.
        </div>
      </div>
      <div class="form-group" [hidden]="IsCiiu">
        <label class="col-md-4">Ciiu</label>
        <input type="text" class="form-control" formControlName="ciiu" #ciiu   [(ngModel)] = "afiliado.ciiu"/>
      </div>
      <div class="form-group" [hidden]="IsCiiu">
          <label class="col-md-4">Representante legal</label>
          <input type="text" class="form-control" formControlName="representantelegal" #representantelegal [(ngModel)] = "afiliado.representantelegal" />
        </div>
      <div
        *ngIf="angForm.controls['ciiu'].invalid && (angForm.controls['ciiu'].dirty || angForm.controls['ciiu'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['ciiu'].errors.required">
          Ciiu es requerido.
        </div>
      </div>
      <div class="form-group">
          <label class="col-md-4">Estado</label>
        <select class="form-control" [value]="afiliado.estado" formControlName="estado" #estado [(ngModel)]="afiliado.estado">
          <option [value]="">elija una opción </option>
          <option >Activo</option>
          <option >Retiro</option>
        </select>
        </div>
        
      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select class="form-control"  [value]="afiliado.seccional[0]._id" formControlName="seccional" #seccional>
          <option [value]="seccional._id" *ngFor="let seccional of Seccional">{{seccional.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['seccional'].invalid && (angForm.controls['seccional'].dirty || angForm.controls['seccional'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['seccional'].errors.required">
          Seccional es requerido.
        </div>
      </div>


      <form [formGroup]="formAfinidad">
        <h3 style="text-align: center;"><strong>Grupos de afinidad</strong></h3>
        <div formArrayName="items" *ngFor="let item of formAfinidad.controls['items'].controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group">
              <label class="col-md-4">grupo de afinidad</label>
              <select class="form-control" placeholder="Phantasyland" (change)="changeCountry($event.target.value)"
                formControlName="afinidad">
                <option>elija una opción </option>
                <option *ngFor="let count of Grupoafinidad">{{count.nombre}} </option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-md-4">sub grupo de afinidad</label>
              <select class="form-control" placeholder="Anycity" formControlName="subafinidad">
                <option>elija una opción </option>
                <option [ngValue]="subafinidad" *ngFor="let subafinidad of Subafinidad">{{subafinidad.nombre}} </option>
              </select>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" [hidden]="ValidateAfinidad">
          Debe llenar toda la informacion de grupos de afinidad
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="addNextAfinidad()"
            [disabled]="formAfinidad.pristine || formAfinidad.invalid"><i class="far fa-plus-square"></i></button>
          &nbsp;
        </div>
        <table class="table table-bordered">
          <tr>
            <th>Grupo de afinidad</th>
            <th>Borrar</th>
          </tr>
          <tr *ngFor="let Afinidades of afinidades ; let i = index">
            <td>{{Afinidades.nombre}}</td>
            <td> <button class="btn btn-warning" type="button" (click)="deleteAfinidad(i)">x</button></td>
          </tr>
        </table>


      </form>



      <h3 style="text-align: center;"><strong>Información de contacto</strong></h3>

      <div class="form-group">
        <label class="col-md-4">País</label>
        <select class="form-control" [value]="afiliado.pais" (change)="changePais($event.target.value)"
          formControlName="pais" #pais>
          <option>elija una opción </option>
          <option *ngFor="let count of Pais">{{count.nombre}} </option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['pais'].invalid && (angForm.controls['pais'].dirty || angForm.controls['pais'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['pais'].errors.required">
          Pais es requerido.
        </div>
      </div>
      <div class="form-group" [hidden]="isOtro">
        <label class="col-md-4">Otro País</label>
        <input type="text" class="form-control" formControlName="pais" #pais />
      </div>
      <div class="form-group" [hidden]="isOtro">
        <label class="col-md-4">Otro Ciudad</label>
        <input type="text" class="form-control" formControlName="ciudad" #ciudad />
        <button class="btn btn-warning" type="button" (click)="nuevaCiudad()">+</button>
      </div>
    
      <div class="form-group" [hidden]="isColombia">
          <label class="col-md-4">Departamento</label>
          <select class="form-control" [value]="dpto" (change)="changeDepartamento($event.target.value)"
            formControlName="departamento" #departamento>
            <option>elija una opción </option>
            <option *ngFor="let count of departamentos">{{count}} </option>
          </select>
        </div>
        <div class="form-group" [hidden]="isColombia">
            <label class="col-md-4">Municipio / Ciudad</label>
            <select class="form-control" [value]="afiliado.ciudad[0]._id"
              formControlName="ciudad" #ciudad >
              <option>elija una opción </option>
              <option [value]="muni.id"  *ngFor="let muni of newMunicipios">{{muni.MUNICIPIO}} </option>
            </select>
          </div>
      <div
        *ngIf="angForm.controls['pais'].invalid && (angForm.controls['pais'].dirty || angForm.controls['pais'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['pais'].errors.required">
          Pais es requerido.
        </div>
      </div>

      <div class="form-group" [hidden]="isNoColombia">
        <label class="col-md-4">Ciudad</label>
        <select class="form-control"  [value]="afiliado.ciudad[0]._id" formControlName="ciudad" #ciudad>
          <option>elija una opción </option>
          <option [value]="ciudad._id" *ngFor="let ciudad of Ciudades">{{ciudad.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['ciudad'].invalid && (angForm.controls['ciudad'].dirty || angForm.controls['ciudad'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['ciudad'].errors.required">
          Ciudad es requerido.
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4">Dirección</label>
        <input type="text" class="form-control" formControlName="direccion" #direccion  [(ngModel)] = "afiliado.direccion"/>
      </div>
      <div
        *ngIf="angForm.controls['direccion'].invalid && (angForm.controls['direccion'].dirty || angForm.controls['direccion'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['direccion'].errors.required">
          Direccion es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Telefono / Celular</label>
        <input type="text" class="form-control" formControlName="telefono" #telefono [(ngModel)] = "afiliado.telefono"/>
      </div>
      <div
        *ngIf="angForm.controls['telefono'].invalid && (angForm.controls['telefono'].dirty || angForm.controls['telefono'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['telefono'].errors.required">
          Telefono es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">correo electronico</label>
        <input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "afiliado.email"/>
      </div>
      <div
        *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Sitio web</label>
        <input type="text" class="form-control" formControlName="sitioweb" #sitioweb [(ngModel)] = "afiliado.sitioweb"/>
      </div>
      <div
        *ngIf="angForm.controls['sitioweb'].invalid && (angForm.controls['sitioweb'].dirty || angForm.controls['sitioweb'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['sitioweb'].errors.required">
          Sitioweb es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Información directorio</label>
        <input type="text" class="form-control" formControlName="informaciondirectorio" #informaciondirectorio [(ngModel)] = "afiliado.informaciondirectorio"/>
      </div>
      <div
        *ngIf="angForm.controls['informaciondirectorio'].invalid && (angForm.controls['informaciondirectorio'].dirty || angForm.controls['informaciondirectorio'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['informaciondirectorio'].errors.required">
          Informaciondirectorio es requerido.
        </div>
      </div>
      <div class="form-group" [hidden]="IsFechanacimiento">
        <label class="col-md-4">Fecha de nacimineto</label>
        <input type="date" class="form-control" formControlName="fechanacimiento" #fechanacimiento [(ngModel)] = "afiliado.fechanacimiento"/>
      </div>
      <div
        *ngIf="angForm.controls['fechanacimiento'].invalid && (angForm.controls['fechanacimiento'].dirty || angForm.controls['fechanacimiento'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['fechanacimiento'].errors.required">
          fechanacimiento es requerido.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Fecha de vinculacion</label>
        <input type="date" class="form-control" formControlName="fechavinculacion" #fechavinculacion [(ngModel)] = "afiliado.fechavinculacion"/>
      </div>
      <div
        *ngIf="angForm.controls['fechavinculacion'].invalid && (angForm.controls['fechavinculacion'].dirty || angForm.controls['fechavinculacion'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['fechavinculacion'].errors.required">
          fechavinculacion es requerido.
        </div>
      </div>

      <form [formGroup]="formDocumento">
        <h3 style="text-align: center;"><strong>Documentos</strong></h3>
        <div formArrayName="items" *ngFor="let item of formDocumento.controls['items'].controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group">
              <label class="col-md-4">Documento soporte</label>
              <select class="form-control" formControlName="tipodocumentosoporte" #seccional>
                <option [ngValue]="documento" *ngFor="let documento of Tipodocumentosoporte">{{documento.nombre}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-md-4">Documento</label>
              <input class="form-control" formControlName="urldocumento" id="myForm" type="file" name="file"
                (change)="postMethod($event.target.files)" />
            </div>
          </div>
        </div>
        <div class="alert alert-danger" [hidden]="ValidateAfinidad">
          Debe llenar toda la informacion de documentos
        </div>
        <div class="form-group">
          &nbsp;
        </div>
        <table class="table table-bordered">
          <tr>
            <th>Documento</th>
            <th>Ver documento</th>
            <th>Borrar</th>
          </tr>
          <tr *ngFor="let Documentos of documentos ; let i = index">
            <td>{{Documentos.tipodocumentosoporte[0].nombre}}</td>
            <td><a href={{Documentos.url}}>{{Documentos.urldocumento}}</a></td>
            <td> <button class="btn btn-warning" type="button" (click)="deleteDocumento(i)">x</button></td>
          </tr>
        </table>


      </form>
      <form [formGroup]="formBeneficiario" [hidden]="IsCiiu">
          <h3 style="text-align: center;"><strong>Beneficiarios</strong></h3>
          <div formArrayName="items" *ngFor="let item of formBeneficiario.controls['items'].controls; let i = index">
            <div [formGroupName]="i">
                <div class="form-group">
                    <label class="col-md-4">Nombres</label>
                    <input class="form-control" formControlName='nombres'>
                  </div>
              <div class="form-group">
                <label class="col-md-4">Apellidos</label>
                <input class="form-control" formControlName='apellidos'>
              </div>
              <div class="form-group">
                <label class="col-md-4">Cargo</label>
                <input class="form-control" formControlName='cargo'>
              </div>
              <div class="form-group">
                <label class="col-md-4">Telefono</label>
                <input class="form-control" formControlName='telefono'>
              </div>
              <div class="form-group">
                  <label class="col-md-4">Correo</label>
                  <input class="form-control" formControlName='correo'>
                </div>
            </div>
          </div>
          <div class="alert alert-danger" [hidden]="ValidateBeneficiario">
            Debe llenar toda la informacion de Beneficiarios
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="button" (click)="addNextBeneficiario()"
              [disabled]="formBeneficiario.pristine || formBeneficiario.invalid"><i class="far fa-plus-square"></i></button>
            &nbsp;
          </div>
          <table class="table table-bordered">
            <tr>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Cargo</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Borrar</th>
            </tr>
            <tr *ngFor="let beneficiario of beneficiarios ; let i = index">
              <td>{{beneficiario.nombres}}</td>
              <td>{{beneficiario.apellidos}}</td>
              <td>{{beneficiario.cargo}}</td>
              <td>{{beneficiario.correo}}</td>
              <td>{{beneficiario.telefono}}</td>
              <td> <button class="btn btn-warning" type="button" (click)="deleteBeneficiario(i)">x</button></td>
            </tr>
          </table>
  
  
  
        </form>
      <form [formGroup]="form" (ngSubmit)="submit()" [hidden]="IsApellidos">
        <h3 style="text-align: center;"><strong>Estudios</strong></h3>
        <div formArrayName="items" *ngFor="let item of form.controls['items'].controls; let i = index">
          <div [formGroupName]="i">
            <div class="form-group">

              <label class="col-md-4">Nivel de estudio</label>
              <select class="form-control" formControlName="nivel">
                <option>Diplomado</option>
                <option>Tecnico</option>
                <option>Tecnologo</option>
                <option>Profesional</option>
                <option>Especializacion</option>
                <option>Maestria</option>
                <option>Doctorado</option>
                <option>Pos Doctorado</option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-md-4">Titulo</label>
              <input class="form-control" formControlName='titulo'>
            </div>
            <div class="form-group">
              <label class="col-md-4">Institución</label>
              <input class="form-control" formControlName='universidad'>
            </div>
          </div>
        </div>
        <div class="alert alert-danger" [hidden]="ValidateStudies">
          Debe llenar toda la informacion de estudios
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="addNext()"
            [disabled]="form.pristine || form.invalid"><i class="far fa-plus-square"></i></button>
          &nbsp;
        </div>
        <table class="table table-bordered">
          <tr>
            <th>nivel</th>
            <th>Titulo</th>
            <th>Institución</th>
            <th>Borrar</th>
          </tr>
          <tr *ngFor="let EstudiosAll of estudiosAll ; let i = index">
            <td>{{EstudiosAll.nivel}}</td>
            <td>{{EstudiosAll.titulo}}</td>
            <td>{{EstudiosAll.universidad}}</td>
            <td> <button class="btn btn-warning" type="button" (click)="deleteEstudio(i)">x</button></td>
          </tr>
        </table>



      </form>

      <div class="form-group">
        <label>Acepta politica de tratamiento de datos
          <input type="checkbox" value="ACEPTO" formControlName="abeasdata" #abeasdata />

        </label>
        <div>
          <ng-template #popContent>
            <div>
              <p>Apreciado Afiliado :</p>
              <p><strong>Ley de Protección de Datos Personales</strong> </p>

              La Asociación Colombiana de Ingeniería Sanitaria y Ambiental ACODAL identificada con NIT 860.021.927-2,
              cuenta en su base de datos con información suministrados por Usted, la cual ha sido recolectada por las
              relaciones realizadas en desarrollo de nuestro objeto social, razón por la cual Usted es considerado como
              nuestro afiliado.

              De acuerdo con la Ley Estatutaria 1581 del 2012, "Por la cual se dictan las disposiciones generales para
              la protección de datos personales", y el Decreto 1377 de 2013, requerimos su autorización para el
              tratamiento de sus datos personales, los cuales se encuentran almacenados en una base magnética de la que
              es responsable el Área de Gestión de afiliados , y que serán utilizados para:

              ** Procesar, recolectar, almacenar, usar, circular, suprimir, compartir, actualizar y/o trasmitir,
              principalmente para fines comerciales, administrativos, financieros, de contacto y en general, para hacer
              posible la prestación de nuestros productos y servicios.

              **Promover nuestros productos y los de nuestros aliados comerciales, empresas en Colombia.

              **Envío de mensajes con fines comerciales, informativos, publicitarios y/o de atención al cliente.

              **Lograr una comunicación eficiente relacionada con nuestros productos, campañas, estudios, ofertas y
              promociones, así como los de nuestras empresas vinculadas y aliados en Colombia.

              **Para proporcionar un efectivo servicio al cliente.

              **Con propósitos de seguridad o prevención de fraude.

              Con esta autorización, Usted faculta a ACODAL, manejar sus datos personales con sus aliados estratégicos,
              en Colombia para que recolecten, almacenen, administren, utilicen, transfieran entre ellas y destruyan en
              la forma permitida por ley, sus datos personales para los fines aquí descritos.

              Al tenor de lo aquí dispuesto, le recordamos que Usted cuenta con los siguientes derechos (i) Acceder,
              actualizar y corregir su información personal, en Bogotá: Diagonal 60 N° 22-20 Bario San Luis Correo
              electrónico: gestionafiliados@acodal.org.co (ii) Solicitar prueba de la autorización o revocar la misma;
              (iii) Solicitar información relacionada con el tratamiento de la información personal; y (iv) Presentar
              reclamos ante ACODAL en caso que considere que sus derechos han sido vulnerados.


            </div>
          </ng-template>

          <button type="button" class="btn btn-link" [ngbPopover]="popContent" placement="bottom" #p="ngbPopover">
            Ver más </button>
        </div>

      </div>
      <div
        *ngIf="angForm.controls['abeasdata'].invalid && (angForm.controls['abeasdata'].dirty || angForm.controls['abeasdata'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['abeasdata'].errors.required">
          Abeasdata es requerido.
        </div>
      </div>
      <div class="form-group">
        <label>Acepta codigo de autoregulación <input checked type="checkbox" value="ACEPTO" formControlName="lavadoactivos"
            #lavadoactivos /></label>
        <div>
          <ng-template #popContent>
            <div>
              <p>Apreciado Afiliado :</p>
              <p><strong>Ley de Protección de Datos Personales</strong> </p>

              La Asociación Colombiana de Ingeniería Sanitaria y Ambiental ACODAL identificada con NIT 860.021.927-2,
              cuenta en su base de datos con información suministrados por Usted, la cual ha sido recolectada por las
              relaciones realizadas en desarrollo de nuestro objeto social, razón por la cual Usted es considerado como
              nuestro afiliado.

              De acuerdo con la Ley Estatutaria 1581 del 2012, "Por la cual se dictan las disposiciones generales para
              la protección de datos personales", y el Decreto 1377 de 2013, requerimos su autorización para el
              tratamiento de sus datos personales, los cuales se encuentran almacenados en una base magnética de la que
              es responsable el Área de Gestión de afiliados , y que serán utilizados para:

              ** Procesar, recolectar, almacenar, usar, circular, suprimir, compartir, actualizar y/o trasmitir,
              principalmente para fines comerciales, administrativos, financieros, de contacto y en general, para hacer
              posible la prestación de nuestros productos y servicios.

              **Promover nuestros productos y los de nuestros aliados comerciales, empresas en Colombia.

              **Envío de mensajes con fines comerciales, informativos, publicitarios y/o de atención al cliente.

              **Lograr una comunicación eficiente relacionada con nuestros productos, campañas, estudios, ofertas y
              promociones, así como los de nuestras empresas vinculadas y aliados en Colombia.

              **Para proporcionar un efectivo servicio al cliente.

              **Con propósitos de seguridad o prevención de fraude.

              Con esta autorización, Usted faculta a ACODAL, manejar sus datos personales con sus aliados estratégicos,
              en Colombia para que recolecten, almacenen, administren, utilicen, transfieran entre ellas y destruyan en
              la forma permitida por ley, sus datos personales para los fines aquí descritos.

              Al tenor de lo aquí dispuesto, le recordamos que Usted cuenta con los siguientes derechos (i) Acceder,
              actualizar y corregir su información personal, en Bogotá: Diagonal 60 N° 22-20 Bario San Luis Correo
              electrónico: gestionafiliados@acodal.org.co (ii) Solicitar prueba de la autorización o revocar la misma;
              (iii) Solicitar información relacionada con el tratamiento de la información personal; y (iv) Presentar
              reclamos ante ACODAL en caso que considere que sus derechos han sido vulnerados.


            </div>
          </ng-template>

          <button type="button" class="btn btn-link" [ngbPopover]="popContent" placement="bottom" #p="ngbPopover">
            Ver más </button>
        </div>

      </div>
      <div
        *ngIf="angForm.controls['lavadoactivos'].invalid && (angForm.controls['lavadoactivos'].dirty || angForm.controls['lavadoactivos'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['lavadoactivos'].errors.required">
          Lavado activos es requerido.
        </div>
      </div>


      <div class="form-group">
        <button
          (click)="addAfiliado(tipoafiliado.value, categoria.value, codigocliente.value, nombres.value, apellidos.value, clasificacion.value, tipodocumento.value, documento.value, ciiu.value, seccional.value,  pais.value, ciudad.value, direccion.value, telefono.value, email.value, sitioweb.value, informaciondirectorio.value, fechanacimiento.value, fechavinculacion.value, representantelegal.value, estado.value)"
          [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Crear Afiliado</button>
      </div>

    </form>
  </div>
</div>

  