<h1> <i class="far fa-eye"></i> Consulta de facturas</h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="findByAfiliado()">Afiliado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="findByFecha()">Fecha</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="findByNumero()">Numero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="findByEstado()">Estado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="verTodas()">Ver todas</a>
  </li>
</ul>

<div  [hidden]="findAfiliado" class="card">
 
  <div class="card-body">
    <h3>Consulta por afiliado</h3>
    <p>&nbsp;</p>
    <form [formGroup]="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select [attr.disabled]="IsSeccional ? true : null" (change)="changeSeccional($event.target.value)" class="form-control" formControlName="seccional"
          #seccional [(ngModel)]="userSec" >
          <option [value]="seccional._id" *ngFor="let seccional of seccionales">{{seccional.nombre}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['seccional'].invalid && (angForm.controls['seccional'].dirty || angForm.controls['seccional'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['seccional'].errors.required">
          Seccional es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Afiliado</label>
        <select class="form-control selectpicker" formControlName="afiliado" #afiliado>
          <option [value]="afiliado._id" *ngFor="let afiliado of afiliadosFilter">{{afiliado.nombres}}
            {{afiliado.documento}}</option>
        </select>
      </div>
      <div
        *ngIf="angForm.controls['afiliado'].invalid && (angForm.controls['afiliado'].dirty || angForm.controls['afiliado'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['afiliado'].errors.required">
          afiliado es requerido.
        </div>
      </div>
    </form>
    <div class="form-group">
      <button (click)="getFactura(angForm.value)" [disabled]="angForm.pristine || angForm.invalid"
        class="btn btn-primary">Consultar</button>
    </div>
  </div>
</div>

<div  [hidden]="findFecha" class="card">
 
  <div class="card-body">
    <h3>Consulta por fecha</h3>
    <p>&nbsp;</p>
    <form [formGroup]="fechaForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select [attr.disabled]="IsSeccional ? true : null" (change)="changeSeccional($event.target.value)" class="form-control" formControlName="seccional"
          #seccional [(ngModel)]="userSec" >
          <option value="">TODAS LAS SECCIONALES </option>
          <option [value]="seccional._id" *ngFor="let seccional of seccionales">{{seccional.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-md-4">Fecha inicial</label>
        <input type="date" class="form-control" formControlName="fecha_inicial" #fecha_inicial />
      </div>
      <div
        *ngIf="fechaForm.controls['fecha_inicial'].invalid && (fechaForm.controls['fecha_inicial'].dirty || fechaForm.controls['fecha_inicial'].touched)"
        class="alert alert-danger">
        <div *ngIf="fechaForm.controls['fecha_inicial'].errors.required">
          fecha inicial es requerido.
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4">Fecha final</label>
        <input type="date" class="form-control" formControlName="fecha_final" #fecha_final />
      </div>
      <div
        *ngIf="fechaForm.controls['fecha_final'].invalid && (fechaForm.controls['fecha_final'].dirty || fechaForm.controls['fecha_final'].touched)"
        class="alert alert-danger">
        <div *ngIf="fechaForm.controls['fecha_final'].errors.required">
          fecha final es requerido.
        </div>
      </div>

    </form>
    <div class="form-group">
      <button (click)="getFacturaFecha(fechaForm.value)" [disabled]="fechaForm.pristine || fechaForm.invalid"
        class="btn btn-primary">Consultar</button>
    </div>
  </div>
</div>
<div  [hidden]="findNumero" class="card">
 
  <div class="card-body">
    <h3>Consulta por numero de factura</h3>
    <p>&nbsp;</p>
    <form [formGroup]="numeroForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select [attr.disabled]="IsSeccional ? true : null" (change)="changeSeccional($event.target.value)" class="form-control" formControlName="seccional"
          #seccional [(ngModel)]="userSec" >
          <option value="">TODAS LAS SECCIONALES </option>
          <option [value]="seccional._id" *ngFor="let seccional of seccionales">{{seccional.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-md-4">Numero de factura</label>
        <input type="number" class="form-control" formControlName="numero" #numero />
      </div>
      <div
        *ngIf="numeroForm.controls['numero'].invalid && (numeroForm.controls['numero'].dirty || numeroForm.controls['numero'].touched)"
        class="alert alert-danger">
        <div *ngIf="numeroForm.controls['numero'].errors.required">
          numero de factura.
        </div>
      </div>

    </form>
    <div class="form-group">
      <button (click)="getFacturaNumero(numeroForm.value)" [disabled]="numeroForm.pristine || numeroForm.invalid"
        class="btn btn-primary">Consultar</button>
    </div>
  </div>
</div>
<div  [hidden]="findEstado" class="card">
 
  <div class="card-body">
    <h3>Consulta por estado de factura</h3>
    <p>&nbsp;</p>
    <form [formGroup]="estadoForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Seccional</label>
        <select [attr.disabled]="IsSeccional ? true : null" (change)="changeSeccional($event.target.value)" class="form-control" formControlName="seccional"
          #seccional [(ngModel)]="userSec" >
          <option value="">TODAS LAS SECCIONALES </option>
          <option [value]="seccional._id" *ngFor="let seccional of seccionales">{{seccional.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="col-md-4">Estado de factura</label>
        <select  class="form-control" formControlName="estado" #estado>
          <option value=''>elija una opción </option>
          <option >PAGADA</option>
          <option >PENDIENTE</option>
          <option >ANULADA</option>
        </select>
      </div>
      <div
        *ngIf="estadoForm.controls['estado'].invalid && (estadoForm.controls['estado'].dirty || estadoForm.controls['estado'].touched)"
        class="alert alert-danger">
        <div *ngIf="estadoForm.controls['estado'].errors.required">
          estado de factura.
        </div>
      </div>
    </form>
    <div class="form-group">
      <button (click)="getFacturaEstado(estadoForm.value)" [disabled]="estadoForm.pristine || estadoForm.invalid"
        class="btn btn-primary">Consultar</button>
    </div>
  </div>
</div>

<p>&nbsp;</p>
<a [href]="fileUrl"  class="btn btn-primary" download="datos.csv">Descargar Datos</a>

<p>&nbsp;</p>
<table datatable [dtOptions]="dtOptions" class="table table-striped table-responsive-md btn-table" *ngIf="myTable">
  <thead>
    <tr>  <td>Afiliado</td> <td>Documento</td>   <td>Factura N°</td>  <td>valor pagado (COP)</td> <td>fecha de pago</td> <td>estado</td> <td>acciones</td> </tr>
  </thead>
  <tbody>
    <tr *ngFor="let factura of facturaFilter">
      <td >{{factura.afiliado[0].nombres}}</td>
      <td >{{factura.afiliado[0].documento}}</td>
      <td >{{factura.numero}}</td>
      <td >{{factura.v_pagado}}</td>
      <td >{{factura.fecha_pago}}</td>
      <td >{{factura.estado}}</td>
      <td>
        <a title="Detalle"  [routerLink]="['detail', factura._id]" class="btn btn-primary"><i class="fa fa-list"></i></a>
        &nbsp;
        <a [hidden]="IsAdmin" title="Borrar" (click)="deleteFactura(factura._id)"  class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        &nbsp;
        <a [hidden]="IsAdmin" title="Editar" [routerLink]="['edit', factura._id]" class="btn btn-primary"  class="btn btn-primary"><i class="far fa-edit"></i></a>
      </td>
    </tr>
  </tbody>
</table>


