<h1> <i class="far fa-eye"></i> Ver Tipodocumento</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Descripcion</td>
 <td>Abreviacion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let tipodocumento of tipodocumento">
<td>{{ tipodocumento.nombre}}</td>
<td>{{ tipodocumento.descripcion}}</td>
<td>{{ tipodocumento.abreviacion}}</td>
<td><a [routerLink]="['edit', tipodocumento._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteTipodocumento(tipodocumento._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
