
<div class="card">
  <h2 class="card-header"><strong>Detalle de factura</strong></h2>
  <div class="card-body">
    <h3>Factura N° <strong>{{Factura.numero}}</strong></h3>
    <div class="row">

      <div class="col-sm-4">
        <h4><strong>Valor pagado: </strong>{{Factura.v_pagado}}</h4>
      </div>

      <div class="col-sm-4">
        <h4><strong>Fecha de pago: </strong>{{Factura.fecha_pago}}</h4>
      </div>
      <div class="col-sm-4">
        <h4><strong>Estado: </strong>{{Factura.estado}}</h4>
      </div>

    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <h3>Afiliado <strong>{{Factura.afiliado[0].nombres}}</strong></h3>
    <div class="row">

      <div class="col-sm-4">
        <h4><strong>Documento Afiliado: </strong>{{Factura.afiliado[0].documento}}</h4>
      </div>

      <div class="col-sm-4">
        <h4><strong>direccion: </strong>{{Factura.afiliado[0].direccion}}</h4>
      </div>
      <div class="col-sm-4">
        <h4><strong>telefono: </strong>{{Factura.afiliado[0].telefono}}</h4>
      </div>

    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <table class="table table-bordered">
      <tr>
        <th>Observaciones</th>
        <th>Ver documento</th>
      </tr>
      <tr *ngFor="let documento of todosDocumento ; let i = index">
        <td>{{documento.detalle}}</td>
        <td><a href={{documento.file}}>{{documento.file}}</a></td>
      </tr>
    </table>
  </div>


</div>
