<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<body>

</body>


<nav class="navbar navbar-expand-sm bg-dark">
  <a sidebarjsToggle class="btn btn-light"><img width="30" height="30" src="assets/img/lineas.png"></a>
  <h3 style="color:white;"> &nbsp; &nbsp; <a href="/" style="color:white;">Afiliados</a></h3>

</nav>



<sidebarjs-element>

  <h2><a class="nav-link" href="/">Afiliados</a></h2>
  <h4 [hidden]='IsLogin'>
    <a style="color:black;" routerLink="afiliado/create" class="btn btn-light btn-lg btn-block"
      routerLinkActive="active" sidebarjsToggle>
      Crear afiliado
    </a>
  </h4>
  <h4 [hidden]='IsLogin'>
    <a style="color:black;" routerLink="/afiliado" class="btn btn-light btn-lg btn-block" routerLinkActive="active"
      sidebarjsToggle>
      Consultar afiliados
    </a>
  </h4>

  <h4 [hidden]='IsAdmin'>
    <a style="color:black;" routerLink="/log" class="btn btn-light btn-lg btn-block" routerLinkActive="active"
      sidebarjsToggle>
      Ver registros
    </a>
  </h4>

  <p [hidden]='IsLogin'>
      {{username}}
    <a (click)="deleteUser()" [routerLink]="['/login']" class="text-danger">Cerrar sesión</a>
  </p>
  <h4 [hidden]='IsAdmin'>
    <a style="color:black;" routerLink="/register" class="btn btn-light btn-lg btn-block" routerLinkActive="active"
    sidebarjsToggle>
    Crear Usuario
  </a>
</h4>
  <!--

   <div class="d-inline-block" ngbDropdown #myDropseccional="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropseccional.open()">Seccional</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="seccional/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Seccional
</a>
<a routerLink="seccional" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Seccional
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropcategoria="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropcategoria.open()">Categoria</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="categoria/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Categoria
</a>
<a routerLink="categoria" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Categoria
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroptipoafiliado="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipoafiliado.open()">Tipoafiliado</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipoafiliado/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipoafiliado
</a>
<a routerLink="tipoafiliado" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipoafiliado
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroptipoempresa="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipoempresa.open()">Tipoempresa</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipoempresa/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipoempresa
</a>
<a routerLink="tipoempresa" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipoempresa
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropaspirantejuridico="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropaspirantejuridico.open()">Aspirantejuridico</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="aspirantejuridico/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Aspirantejuridico
</a>
<a routerLink="aspirantejuridico" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Aspirantejuridico
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroptipocontacto="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipocontacto.open()">Tipocontacto</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipocontacto/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipocontacto
</a>
<a routerLink="tipocontacto" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipocontacto
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropcontacto="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropcontacto.open()">Contacto</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="contacto/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Contacto
</a>
<a routerLink="contacto" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Contacto
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropciudad="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropciudad.open()">Ciudad</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="ciudad/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Ciudad
</a>
<a routerLink="ciudad" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Ciudad
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropgrupocorreos="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropgrupocorreos.open()">Grupocorreos</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="grupocorreos/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Grupocorreos
</a>
<a routerLink="grupocorreos" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Grupocorreos
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroptipodocumento="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipodocumento.open()">Tipodocumento</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipodocumento/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipodocumento
</a>
<a routerLink="tipodocumento" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipodocumento
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDroptipodocumentosoporte="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDroptipodocumentosoporte.open()">Tipodocumentosoporte</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="tipodocumentosoporte/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Tipodocumentosoporte
</a>
<a routerLink="tipodocumentosoporte" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Tipodocumentosoporte
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropdocumento="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropdocumento.open()">Documento</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="documento/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Documento
</a>
<a routerLink="documento" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Documento
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropaspirantenatural="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropaspirantenatural.open()">Aspirantenatural</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="aspirantenatural/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Aspirantenatural
</a>
<a routerLink="aspirantenatural" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Aspirantenatural
</a>
</div>
</div>
<div class="d-inline-block" ngbDropdown #myDropafiliado="ngbDropdown">
<button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
(focus)="myDropafiliado.open()">Afiliado</button>
<div ngbDropdownMenu aria-labelledby="dropdownManual">
<a routerLink="afiliado/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Crear Afiliado
</a>
<a routerLink="afiliado" class="nav-link" routerLinkActive="active" sidebarjsToggle>
Ver Afiliado
</a>
</div>
</div>



-->
  <p></p>

  <a style="margin-left: 10px;"><button class="btn btn-danger" sidebarjsToggle><img width="30" height="30"
        src="assets/img/close.png"></button></a>
</sidebarjs-element>



<br />
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small blue pt-4">

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="http://www.acodal.org.co/"> Acodal</a>
  </div>
</footer>