<h1> <i class="far fa-eye"></i> Ver Usuarios</h1>
<table  datatable [dtOptions]="dtOptions" class="table table-striped table-responsive-md btn-table" *ngIf="myTable">
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Correo</td>

      <td>Cargo</td>
      <td>Permisos</td>
      <td>Acciones</td>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let User of user">
      <td>{{ User.firstname}}</td>
      <td>{{ User.lastname}}</td>
      <td>{{ User.username}}</td>
      <td>{{ User.cargo}}</td>
      <td>{{ User.permisos}}</td>
      <td><a [routerLink]="['edit', User._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteUser(User._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>

    </tr>
  </tbody>
</table>