<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h1><img width="300" height="200" src="assets/img/acodal.svg"></h1>
<p>&nbsp;</p>
<h2>Administrador</h2>
<p>&nbsp;</p>
<h3>Afiliados</h3>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDropafiliado="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropafiliado.open()">Afiliados</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/afiliado/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Afiliado
        </a>
        <a routerLink="/afiliado" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Consultar Afiliados
        </a>
    </div>
</div>

<p>&nbsp;</p>
<h3>Usuarios</h3>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDropusuario="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropusuario.open()">Usuarios</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/register" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Usuario
        </a>
        <a routerLink="/usuarios" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Usuarios
        </a>
    </div>
</div>
&nbsp;
<p>&nbsp;</p>
<h3>Facturas</h3>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDropfacturas="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropfacturas.open()">Facturas</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/factura/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Facturas
        </a>
        <a routerLink="/factura" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Facturas
        </a>
    </div>
</div>
&nbsp;
<p>&nbsp;</p>
<h3>Parametricas</h3>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDropseccional="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropseccional.open()">Seccional</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/seccional/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Seccional
        </a>
        <a routerLink="/seccional" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Seccional
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDropcategoria="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropcategoria.open()">Categoria</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/categoria/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Categoria
        </a>
        <a routerLink="/categoria" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Categoria
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDroptipoafiliado="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDroptipoafiliado.open()">Tipo afiliado</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/tipoafiliado/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Tipo afiliado
        </a>
        <a routerLink="/tipoafiliado" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Tipo afiliado
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDroptipoempresa="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDroptipoempresa.open()">Tipo empresa</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/tipoempresa/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Tipo empresa
        </a>
        <a routerLink="/tipoempresa" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Tipo empresa
        </a>
    </div>
</div>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDroptipocontacto="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDroptipocontacto.open()">Tipo contacto</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/tipocontacto/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Tipo contacto
        </a>
        <a routerLink="/tipocontacto" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Tipo contacto
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDropcontacto="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropcontacto.open()">Contacto</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/contacto/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Contacto
        </a>
        <a routerLink="/contacto" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Contacto
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDropciudad="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropciudad.open()">Ciudad</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/ciudad/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Ciudad
        </a>
        <a routerLink="/ciudad" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Ciudad
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDropgrupocorreos="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropgrupocorreos.open()">Grupo correos</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/grupocorreos/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Grupo correos
        </a>
        <a routerLink="/grupocorreos" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Grupo correos
        </a>
    </div>
</div>
<p>&nbsp;</p>
<div class="d-inline-block" ngbDropdown #myDroptipodocumento="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDroptipodocumento.open()">Tipo documento</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/tipodocumento/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Tipo documento
        </a>
        <a routerLink="/tipodocumento" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Tipo documento
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDroptipodocumentosoporte="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDroptipodocumentosoporte.open()">Tipo documento soporte</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/tipodocumentosoporte/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Tipo documento soporte
        </a>
        <a routerLink="/tipodocumentosoporte" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Tipo documento soporte
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myDropdocumento="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myDropdocumento.open()">Documento</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/documento/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Documento
        </a>
        <a routerLink="/documento" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Documento
        </a>
    </div>
</div>
&nbsp;
<p>&nbsp;</p>
&nbsp;
<div class="d-inline-block" ngbDropdown #mySubafinidad="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="mySubafinidad.open()">Sub grupo afinidad</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/subafinidad/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Sub grupo afinidad
        </a>
        <a routerLink="/subafinidad" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Sub grupo afinidad
        </a>
    </div>
</div>
&nbsp;
<div class="d-inline-block" ngbDropdown #myGrupoafinidad="ngbDropdown">
    <button class="btn btn-outline-primary btn-lg btn-block" id="dropdownManual2" ngbDropdownAnchor
        (focus)="myGrupoafinidad.open()">Grupo afinidad</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <a routerLink="/grupoafinidad/create" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Crear Grupo afinidad
        </a>
        <a routerLink="/grupoafinidad" class="nav-link" routerLinkActive="active" sidebarjsToggle>
            Ver Grupo afinidad
        </a>
    </div>
</div>
<p>&nbsp;</p>