<h1> <i class="far fa-plus-square"></i> Crear Seccional</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Descripcion</label>
<input type="text" class="form-control" formControlName="descripcion" #descripcion/>
</div>
<div *ngIf="angForm.controls['descripcion'].invalid && (angForm.controls['descripcion'].dirty || angForm.controls['descripcion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['descripcion'].errors.required">
Descripcion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Direccion</label>
<input type="text" class="form-control" formControlName="direccion" #direccion/>
</div>
<div *ngIf="angForm.controls['direccion'].invalid && (angForm.controls['direccion'].dirty || angForm.controls['direccion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['direccion'].errors.required">
Direccion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Ciudad</label>
<input type="text" class="form-control" formControlName="ciudad" #ciudad/>
</div>
<div *ngIf="angForm.controls['ciudad'].invalid && (angForm.controls['ciudad'].dirty || angForm.controls['ciudad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['ciudad'].errors.required">
Ciudad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Cubrimiento</label>
<input type="text" class="form-control" formControlName="cubrimiento" #cubrimiento/>
</div>
<div *ngIf="angForm.controls['cubrimiento'].invalid && (angForm.controls['cubrimiento'].dirty || angForm.controls['cubrimiento'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['cubrimiento'].errors.required">
Cubrimiento es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Estado</label>
<input type="text" class="form-control" formControlName="estado" #estado/>
</div>
<div *ngIf="angForm.controls['estado'].invalid && (angForm.controls['estado'].dirty || angForm.controls['estado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['estado'].errors.required">
Estado es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Telefono</label>
<input type="text" class="form-control" formControlName="telefono" #telefono/>
</div>
<div *ngIf="angForm.controls['telefono'].invalid && (angForm.controls['telefono'].dirty || angForm.controls['telefono'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['telefono'].errors.required">
Telefono es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Email</label>
<input type="text" class="form-control" formControlName="email" #email/>
</div>
<div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['email'].errors.required">
Email es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addSeccional(nombre.value, descripcion.value, direccion.value, ciudad.value, cubrimiento.value, estado.value, telefono.value, email.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Seccional</button>
  </div>

    </form>
  </div>
</div>