<h1> <i class="far fa-plus-square"></i> Crear Contacto</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Afiliado</label>
<select class="form-control" formControlName="afiliado" #afiliado >
<option  [value]="afiliado._id" *ngFor="let afiliado of Afiliado" >{{afiliado.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['afiliado'].invalid && (angForm.controls['afiliado'].dirty || angForm.controls['afiliado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['afiliado'].errors.required">
Afiliado es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Tipocontacto</label>
<select class="form-control" formControlName="tipocontacto" #tipocontacto >
<option  [value]="tipocontacto._id" *ngFor="let tipocontacto of Tipocontacto" >{{tipocontacto.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['tipocontacto'].invalid && (angForm.controls['tipocontacto'].dirty || angForm.controls['tipocontacto'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipocontacto'].errors.required">
Tipocontacto es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Valor</label>
<input type="text" class="form-control" formControlName="valor" #valor/>
</div>
<div *ngIf="angForm.controls['valor'].invalid && (angForm.controls['valor'].dirty || angForm.controls['valor'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['valor'].errors.required">
Valor es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="addContacto(afiliado.value, tipocontacto.value, valor.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary">Crear Contacto</button>
  </div>

    </form>
  </div>
</div>