<h1> <i class="far fa-eye"></i> Ver Afiliado</h1>

<p></p>
&nbsp;
<button class="btn btn-warning" (click)="atras()"><i class="fa fa-step-backward"></i></button>
&nbsp;
<button class="btn btn-success" routerLink="/afiliado">Ver todos</button>

&nbsp;
<div class="card">
  <div class="card-body">
    <div>
      <label class="col-md-4">Estado</label>
      <select (change)="onEstado($event.target.value)" class="form-control">
        <option value="Activo">Activo</option>
        <option value="">todos los valores </option>
        <option value="Retiro">Retiro</option>
      </select>
    </div>
      <div>
        <label class="col-md-4">Clasificación</label>
        <select (change)="onClasificacion($event.target.value)" class="form-control">
          <option value="">todos los valores </option>
          <option [value]="clasificacion._id" *ngFor="let clasificacion of Clasificacion">{{clasificacion.nombre}}
          </option>
        </select>
      </div>
      <div>
          <label class="col-md-4">Tipo afiliado</label>
          <select (change)="onTipoafiliado($event.target.value)" class="form-control">
            <option value="">todos los valores </option>
            <option [value]="tipoafiliado._id" *ngFor="let tipoafiliado of Tipoafiliado">{{tipoafiliado.nombre}}
            </option>
          </select>
        </div>
        <div>
            <label class="col-md-4">Categoria</label>
            <select (change)="onCategoria($event.target.value)" class="form-control">
              <option value="">todos los valores </option>
              <option [value]="categoria._id" *ngFor="let categoria of Categoria">{{categoria.nombre}}</option>
            </select>
          </div>
          <div>
              <label class="col-md-4">Seccional</label>
              <select (change)="onSeccional($event.target.value)" class="form-control" >
                <option value="">todos los valores </option>
                <option [value]="seccional._id" *ngFor="let seccional of Seccional">{{seccional.nombre}}
                </option>
              </select>
            </div>
            <div >
              <label class="col-md-4">grupo de afinidad</label>
              <select class="form-control" placeholder="Phantasyland" (change)="changeCountry($event.target.value)"
                >
                <option>elija una opción </option>
                <option *ngFor="let count of Grupoafinidad">{{count.nombre}} </option>
              </select>
            </div>

            <div>
                <label class="col-md-4">Subgrupo de afinidad</label>
                <select (change)="onSubafinidad($event.target.value)" class="form-control">
                  <option value="">todos los valores </option>
                  <option [value]="subafinidad._id" *ngFor="let subafinidad of Subafinidad">{{subafinidad.nombre}}
                  </option>
                </select>
              </div>
              <div>
                <label class="col-md-4">País</label>
                <select class="form-control"  (change)="changePais($event.target.value)">
                  <option>elija una opción </option>
                  <option *ngFor="let count of Pais">{{count.nombre}} </option>
                  <option>Otro</option>
                </select>
              </div>
              <div  [hidden]="isColombia">
                <label class="col-md-4">Departamento</label>
                <select class="form-control" (change)="changeDepartamento($event.target.value)">
                  <option>elija una opción </option>
                  <option *ngFor="let count of departamentos">{{count}} </option>
                </select>
              </div>
              <div [hidden]="isColombia" >
                  <label class="col-md-4">Ciudad</label>
                  <select (change)="onCiudad($event.target.value)" class="form-control">
                    <option value="">todos los valores </option>
                    <option [value]="ciudad.id" *ngFor="let ciudad of newMunicipios">{{ciudad.MUNICIPIO}}
                    </option>
                  </select>
                </div>
                <p>&nbsp;</p>
                <div>
      <button (click)="buscar()" class="btn btn-primary">buscar</button>
      &nbsp;
      <a [href]="fileUrl"  class="btn btn-success" download="afiliados.csv">Descargar Datos</a>
      &nbsp;
<button class="btn btn-warning" (click)="limpiar()" >Limpiar busqueda</button>
    </div>
  </div>
</div>
<h3  >Resultados {{Resultados}}</h3>
<div >
<div  class="col-md-6" *ngFor="let otro of Otro">
    <p><strong>Código cliente: </strong> {{otro.codigocliente}}</p>
    <p><strong>Nombres: </strong> {{otro.nombres}}</p>
    <p><strong>Dirección: </strong> {{otro.direccion}}</p>
    <p><strong>Telefono: </strong> {{otro.telefono}}</p>
    <p><strong>Correo electronico: </strong> {{otro.email}}</p>
    <p><strong>Información directorio: </strong> {{otro.informaciondirectorio}}</p>
    <p><strong>Fecha de creación: </strong> {{otro.createdAt}}</p>
    <p><strong>Fecha de modificación: </strong> {{otro.updatedAt}}</p>
    <p>
        <a title="Dealle" [routerLink]="['/afiliado/detail', otro._id]" class="btn btn-primary"><i class="fa fa-list"></i></a>&nbsp;&nbsp;
        <a  title="Editar" [hidden]="IsAdmin" [routerLink]="['/afiliado/edit', otro._id]" class="btn btn-primary"> <i class="far fa-edit"></i></a>
          &nbsp;&nbsp;
        <a [hidden]="IsAdmin" title="Borrar" (click)="open(content)"  class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Borrar</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>¿ seguro que desea borrar ?</p>
                <button title="Borrar" type="button" class="btn btn-danger"  (click)="deleteAfiliado(otro._id)">Borrar</button>
            </div>
            <div class="modal-footer">
             
            </div>
          </ng-template>
    </p>
    <br>
    <hr class="style1">
    <br>
  </div>
</div>

