<h1> <i class="far fa-eye"></i> Ver Tipodocumentosoporte</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Nombre</td>
 <td>Tipo</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let tipodocumentosoporte of tipodocumentosoporte">
<td>{{ tipodocumentosoporte.nombre}}</td>
<td>{{ tipodocumentosoporte.tipo}}</td>
<td><a [routerLink]="['edit', tipodocumentosoporte._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteTipodocumentosoporte(tipodocumentosoporte._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
