<h1> <i class="far fa-eye"></i> Ver Aspirante (persona juridica)</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
 <td>Razonsocial</td>
 <td>Nit</td>
 <td>Direccion</td>
 <td>Telefono</td>
 <td>Email</td>
 <td>Ciudad</td>
 <td>Servicios</td>
 <td>Paginaweb</td>
 <td>Seccional</td>
 <td>Tipoempresa</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let aspirantejuridico of aspirantejuridico">
<td>{{ aspirantejuridico.razonsocial}}</td>
<td>{{ aspirantejuridico.Nit}}</td>
<td>{{ aspirantejuridico.direccion}}</td>
<td>{{ aspirantejuridico.telefono}}</td>
<td>{{ aspirantejuridico.email}}</td>
<td>{{ aspirantejuridico.ciudad[0].nombre}}</td>
<td>{{ aspirantejuridico.servicios}}</td>
<td>{{ aspirantejuridico.paginaweb}}</td>
<td>{{ aspirantejuridico.seccional[0].nombre}}</td>
<td>{{ aspirantejuridico.tipoempresa[0].nombre}}</td>
<td><a [routerLink]="['edit', aspirantejuridico._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteAspirantejuridico(aspirantejuridico._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
