<h1> <i class="far fa-edit"></i> Editar Aspirante (persona juridica)</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Fecha</label>
<input type="date" class="form-control" formControlName="fecha" #fecha [(ngModel)] = "aspirantejuridico.fecha"/>
</div>
<div *ngIf="angForm.controls['fecha'].invalid && (angForm.controls['fecha'].dirty || angForm.controls['fecha'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fecha'].errors.required">
Fecha es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Razon social</label>
<input type="text" class="form-control" formControlName="razonsocial" #razonsocial [(ngModel)] = "aspirantejuridico.razonsocial"/>
</div>
<div *ngIf="angForm.controls['razonsocial'].invalid && (angForm.controls['razonsocial'].dirty || angForm.controls['razonsocial'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['razonsocial'].errors.required">
Razon social es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">CIUU</label>
<input type="text" class="form-control" formControlName="CIUU" #CIUU [(ngModel)] = "aspirantejuridico.CIUU"/>
</div>
<div *ngIf="angForm.controls['CIUU'].invalid && (angForm.controls['CIUU'].dirty || angForm.controls['CIUU'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['CIUU'].errors.required">
CIUU es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Nit</label>
<input type="text" class="form-control" formControlName="Nit" #Nit [(ngModel)] = "aspirantejuridico.Nit"/>
</div>
<div *ngIf="angForm.controls['Nit'].invalid && (angForm.controls['Nit'].dirty || angForm.controls['Nit'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['Nit'].errors.required">
Nit es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Direccion</label>
<input type="text" class="form-control" formControlName="direccion" #direccion [(ngModel)] = "aspirantejuridico.direccion"/>
</div>
<div *ngIf="angForm.controls['direccion'].invalid && (angForm.controls['direccion'].dirty || angForm.controls['direccion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['direccion'].errors.required">
Direccion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Telefono</label>
<input type="text" class="form-control" formControlName="telefono" #telefono [(ngModel)] = "aspirantejuridico.telefono"/>
</div>
<div *ngIf="angForm.controls['telefono'].invalid && (angForm.controls['telefono'].dirty || angForm.controls['telefono'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['telefono'].errors.required">
Telefono es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Email</label>
<input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "aspirantejuridico.email"/>
</div>
<div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['email'].errors.required">
Email es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Ciudad</label>
<select class="form-control" formControlName="ciudad" #ciudad >
<option  [value]="ciudad._id" *ngFor="let ciudad of Ciudad" >{{ciudad.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['ciudad'].invalid && (angForm.controls['ciudad'].dirty || angForm.controls['ciudad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['ciudad'].errors.required">
Ciudad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Servicios</label>
<input type="text" class="form-control" formControlName="servicios" #servicios [(ngModel)] = "aspirantejuridico.servicios"/>
</div>
<div *ngIf="angForm.controls['servicios'].invalid && (angForm.controls['servicios'].dirty || angForm.controls['servicios'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['servicios'].errors.required">
Servicios es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Nombre gerente</label>
<input type="text" class="form-control" formControlName="nombregerente" #nombregerente [(ngModel)] = "aspirantejuridico.nombregerente"/>
</div>
<div *ngIf="angForm.controls['nombregerente'].invalid && (angForm.controls['nombregerente'].dirty || angForm.controls['nombregerente'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombregerente'].errors.required">
Nombre gerente es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Email gerente</label>
<input type="text" class="form-control" formControlName="emailgerente" #emailgerente [(ngModel)] = "aspirantejuridico.emailgerente"/>
</div>
<div *ngIf="angForm.controls['emailgerente'].invalid && (angForm.controls['emailgerente'].dirty || angForm.controls['emailgerente'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['emailgerente'].errors.required">
Email gerente es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Celular gerente</label>
<input type="number" class="form-control" formControlName="celulargerente" #celulargerente [(ngModel)] = "aspirantejuridico.celulargerente"/>
</div>
<div *ngIf="angForm.controls['celulargerente'].invalid && (angForm.controls['celulargerente'].dirty || angForm.controls['celulargerente'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['celulargerente'].errors.required">
Celulargerente es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Pagina web</label>
<input type="text" class="form-control" formControlName="paginaweb" #paginaweb [(ngModel)] = "aspirantejuridico.paginaweb"/>
</div>
<div *ngIf="angForm.controls['paginaweb'].invalid && (angForm.controls['paginaweb'].dirty || angForm.controls['paginaweb'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['paginaweb'].errors.required">
Pagina web es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Seccional</label>
<select class="form-control" formControlName="seccional" #seccional >
<option  [value]="seccional._id" *ngFor="let seccional of Seccional" >{{seccional.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['seccional'].invalid && (angForm.controls['seccional'].dirty || angForm.controls['seccional'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['seccional'].errors.required">
Seccional es requerido.
</div>
</div>
<div class="form-group">
  <label class="col-md-4">Grupo de afinidad</label>
  <select class="form-control" placeholder="Phantasyland" (change)="changeCountry($event.target.value)">
    <option *ngFor ="let count of Grupoafinidad">{{count.nombre}} </option>
</select>
  </div>

  <div class="form-group">
    <label  class="col-md-4">Subgrupo de  afinidad</label>
    <select class="form-control" placeholder="Anycity" formControlName="subafinidad" #subafinidad>
      <option [value]="subafinidad._id" *ngFor ="let subafinidad of Subafinidad">{{subafinidad.nombre}} </option>
</select>
    </div>
    <div *ngIf="angForm.controls['subafinidad'].invalid && (angForm.controls['subafinidad'].dirty || angForm.controls['subafinidad'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['subafinidad'].errors.required">
      Subgrupo es requerido.
    </div>
    </div>
<div class="form-group">
<label class="col-md-4">Tipo empresa</label>
<select class="form-control" formControlName="tipoempresa" #tipoempresa >
<option  [value]="tipoempresa._id" *ngFor="let tipoempresa of Tipoempresa" >{{tipoempresa.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['tipoempresa'].invalid && (angForm.controls['tipoempresa'].dirty || angForm.controls['tipoempresa'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipoempresa'].errors.required">
Tipo empresa es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Abeas data</label>
<input type="text" class="form-control" formControlName="abeasdata" #abeasdata [(ngModel)] = "aspirantejuridico.abeasdata"/>
</div>
<div *ngIf="angForm.controls['abeasdata'].invalid && (angForm.controls['abeasdata'].dirty || angForm.controls['abeasdata'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['abeasdata'].errors.required">
Abeas data es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Lavado activos</label>
<input type="text" class="form-control" formControlName="lavadoactivos" #lavadoactivos [(ngModel)] = "aspirantejuridico.lavadoactivos"/>
</div>
<div *ngIf="angForm.controls['lavadoactivos'].invalid && (angForm.controls['lavadoactivos'].dirty || angForm.controls['lavadoactivos'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['lavadoactivos'].errors.required">
Lavado activos es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateAspirantejuridico(fecha.value, razonsocial.value, CIUU.value, Nit.value, direccion.value, telefono.value, email.value, ciudad.value, servicios.value, nombregerente.value, emailgerente.value, celulargerente.value, paginaweb.value, seccional.value, subafinidad.value, tipoempresa.value, abeasdata.value, lavadoactivos.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Aspirante juridico</button>
  </div>

    </form>
  </div>
</div>