<h1> <i class="far fa-edit"></i> Editar Aspirante (persona natural)</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Fecha</label>
<input type="date" class="form-control" formControlName="fecha" #fecha [(ngModel)] = "aspirantenatural.fecha"/>
</div>
<div *ngIf="angForm.controls['fecha'].invalid && (angForm.controls['fecha'].dirty || angForm.controls['fecha'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fecha'].errors.required">
Fecha es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Nombres</label>
<input type="text" class="form-control" formControlName="nombres" #nombres [(ngModel)] = "aspirantenatural.nombres"/>
</div>
<div *ngIf="angForm.controls['nombres'].invalid && (angForm.controls['nombres'].dirty || angForm.controls['nombres'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombres'].errors.required">
Nombres es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Apellidos</label>
<input type="text" class="form-control" formControlName="apellidos" #apellidos [(ngModel)] = "aspirantenatural.apellidos"/>
</div>
<div *ngIf="angForm.controls['apellidos'].invalid && (angForm.controls['apellidos'].dirty || angForm.controls['apellidos'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['apellidos'].errors.required">
Apellidos es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Tipo documento</label>
<select class="form-control" formControlName="tipodocumento" #tipodocumento >
<option  [value]="tipodocumento._id" *ngFor="let tipodocumento of Tipodocumento" >{{tipodocumento.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['tipodocumento'].invalid && (angForm.controls['tipodocumento'].dirty || angForm.controls['tipodocumento'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipodocumento'].errors.required">
Tipo documento es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Documento</label>
<input type="text" class="form-control" formControlName="documento" #documento [(ngModel)] = "aspirantenatural.documento"/>
</div>
<div *ngIf="angForm.controls['documento'].invalid && (angForm.controls['documento'].dirty || angForm.controls['documento'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['documento'].errors.required">
Documento es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Fecha nacimiento</label>
<input type="text" class="form-control" formControlName="fechanacimiento" #fechanacimiento [(ngModel)] = "aspirantenatural.fechanacimiento"/>
</div>
<div *ngIf="angForm.controls['fechanacimiento'].invalid && (angForm.controls['fechanacimiento'].dirty || angForm.controls['fechanacimiento'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['fechanacimiento'].errors.required">
Fecha nacimiento es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Ciudad</label>
<select class="form-control" formControlName="ciudad" #ciudad >
<option  [value]="ciudad._id" *ngFor="let ciudad of Ciudad" >{{ciudad.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['ciudad'].invalid && (angForm.controls['ciudad'].dirty || angForm.controls['ciudad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['ciudad'].errors.required">
Ciudad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Direccion</label>
<input type="text" class="form-control" formControlName="direccion" #direccion [(ngModel)] = "aspirantenatural.direccion"/>
</div>
<div *ngIf="angForm.controls['direccion'].invalid && (angForm.controls['direccion'].dirty || angForm.controls['direccion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['direccion'].errors.required">
Direccion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Telefono</label>
<input type="text" class="form-control" formControlName="telefono" #telefono [(ngModel)] = "aspirantenatural.telefono"/>
</div>
<div *ngIf="angForm.controls['telefono'].invalid && (angForm.controls['telefono'].dirty || angForm.controls['telefono'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['telefono'].errors.required">
Telefono es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Celular</label>
<input type="number" class="form-control" formControlName="celular" #celular [(ngModel)] = "aspirantenatural.celular"/>
</div>
<div *ngIf="angForm.controls['celular'].invalid && (angForm.controls['celular'].dirty || angForm.controls['celular'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['celular'].errors.required">
Celular es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Email</label>
<input type="text" class="form-control" formControlName="email" #email [(ngModel)] = "aspirantenatural.email"/>
</div>
<div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['email'].errors.required">
Email es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Profesion</label>
<input type="text" class="form-control" formControlName="profesion" #profesion [(ngModel)] = "aspirantenatural.profesion"/>
</div>
<div *ngIf="angForm.controls['profesion'].invalid && (angForm.controls['profesion'].dirty || angForm.controls['profesion'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['profesion'].errors.required">
Profesion es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Año grado</label>
<input type="number" class="form-control" formControlName="anogrado" #anogrado [(ngModel)] = "aspirantenatural.anogrado"/>
</div>
<div *ngIf="angForm.controls['anogrado'].invalid && (angForm.controls['anogrado'].dirty || angForm.controls['anogrado'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['anogrado'].errors.required">
Anogrado es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Matricula profesional</label>
<input type="text" class="form-control" formControlName="matriculaprofesional" #matriculaprofesional [(ngModel)] = "aspirantenatural.matriculaprofesional"/>
</div>
<div *ngIf="angForm.controls['matriculaprofesional'].invalid && (angForm.controls['matriculaprofesional'].dirty || angForm.controls['matriculaprofesional'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['matriculaprofesional'].errors.required">
Matriculaprofesional es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Universidad</label>
<input type="text" class="form-control" formControlName="universidad" #universidad [(ngModel)] = "aspirantenatural.universidad"/>
</div>
<div *ngIf="angForm.controls['universidad'].invalid && (angForm.controls['universidad'].dirty || angForm.controls['universidad'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['universidad'].errors.required">
Universidad es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Seccional</label>
<select class="form-control" formControlName="seccional" #seccional >
<option  [value]="seccional._id" *ngFor="let seccional of Seccional" >{{seccional.nombre}}</option>
</select>
</div>
<div *ngIf="angForm.controls['seccional'].invalid && (angForm.controls['seccional'].dirty || angForm.controls['seccional'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['seccional'].errors.required">
Seccional es requerido.
</div>
</div>
<div class="form-group">
  <label class="col-md-4">Grupo de afinidad</label>
  <select class="form-control" placeholder="Phantasyland" (change)="changeCountry($event.target.value)">
    <option *ngFor ="let count of Grupoafinidad">{{count.nombre}} </option>
</select>
  </div>

  <div class="form-group">
    <label  class="col-md-4">Subgrupo de  afinidad</label>
    <select class="form-control" placeholder="Anycity" formControlName="subafinidad" #subafinidad>
      <option [value]="subafinidad._id" *ngFor ="let subafinidad of Subafinidad">{{subafinidad.nombre}} </option>
</select>
    </div>
    <div *ngIf="angForm.controls['subafinidad'].invalid && (angForm.controls['subafinidad'].dirty || angForm.controls['subafinidad'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['subafinidad'].errors.required">
      Subgrupo es requerido.
    </div>
    </div>
<div class="form-group">
<label class="col-md-4">Acepta politica detratamiento de datos</label>
<input type="checkbox" class="form-control" value="ACEPTO" formControlName="abeasdata" #abeasdata [(ngModel)] = "aspirantenatural.abeasdata"/>
</div>
<div *ngIf="angForm.controls['abeasdata'].invalid && (angForm.controls['abeasdata'].dirty || angForm.controls['abeasdata'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['abeasdata'].errors.required">
Abeasdata es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">declara que no realiza lavado de activos</label>
<input type="checkbox" class="form-control" value="ACEPTO" formControlName="lavadoactivos" #lavadoactivos [(ngModel)] = "aspirantenatural.lavadoactivos"/>
</div>
<div *ngIf="angForm.controls['lavadoactivos'].invalid && (angForm.controls['lavadoactivos'].dirty || angForm.controls['lavadoactivos'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['lavadoactivos'].errors.required">
Lavadoactivos es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateAspirantenatural(fecha.value, nombres.value, apellidos.value, tipodocumento.value, documento.value, fechanacimiento.value, ciudad.value, direccion.value, telefono.value, celular.value, email.value, profesion.value, anogrado.value, matriculaprofesional.value, universidad.value, seccional.value, subafinidad.value, abeasdata.value, lavadoactivos.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Actualizar</button>
  </div>

    </form>
  </div>
</div>