<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h1><img width="300" height="200" src="assets/img/acodal.svg"></h1>
<p>&nbsp;</p>
<h2>Usuario acodal</h2>
<p>&nbsp;</p>
<h3>Afiliados</h3>
<p>&nbsp;</p>
<a routerLink="/afiliado" routerLinkActive="active" type="button" class="btn btn-secondary">
    Consultar Afiliados
</a>


<p>&nbsp;</p>