<p></p>
&nbsp;
<button class="btn btn-warning" (click)="atras()"><i class="fa fa-step-backward"></i></button>
&nbsp;
<p></p>
<div class="card">
  <h3 class="card-header"><strong>{{afiliado.nombres}} {{afiliado.apellidos}}</strong></h3>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-4">
          <img [src]="url" alt="Smiley face" height="150"
          width="250">
      </div>
    </div>
    <h3>Información basica</h3>
    <div class="row">

      <div class="col-sm-4">
        <p><strong>Tipo de documento: </strong>{{tipodoc}}</p>
      </div>

      <div class="col-sm-4">
        <p><strong>Documento: </strong>{{afiliado.documento}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Código cliente: </strong>{{afiliado.codigocliente}}</p>
      </div>
      <div [hidden]="IsJuridico" class="col-sm-4">
        <p><strong>CIIU: </strong>{{afiliado.ciiu}}</p>
      </div>
      <div [hidden]="IsJuridico" class="col-sm-4">
        <p><strong>Representante legal: </strong>{{afiliado.representantelegal}}</p>
      </div>
      <div [hidden]="IsNatural" class="col-sm-4">
        <p><strong>Fecha de nacimiento: </strong>{{afiliado.fechanacimiento}}</p>
      </div>
      <div  class="col-sm-4">
        <p><strong>Fecha de vinculación: </strong>{{afiliado.fechavinculacion}}</p>
      </div>
      <div  class="col-sm-4">
        <p><strong>Estado: </strong>{{afiliado.estado}}</p>
      </div>
    </div>
    <br>
    <hr class="style1">
    <br>
    <h3>Información de contacto</h3>
    <div class="row">
      <div class="col-sm-4">
        <p><strong>País: </strong>{{afiliado.pais}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Ciudad: </strong>{{city}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Dirección: </strong>{{afiliado.direccion}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Correo electronico: </strong>{{afiliado.email}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>telefono: </strong>{{afiliado.telefono}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>sitioweb: </strong>{{afiliado.sitioweb}}</p>
      </div>
    </div>
    <br>
    <hr class="style1">
    <br>
    <h3>Información de clasificación</h3>
    <div class="row">

      <div class="col-sm-4">
        <p><strong>Fecha de creación: </strong>{{afiliado.createdAt}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Fecha de modificación: </strong>{{afiliado.createdAt}}</p>
      </div>
      <div class="col-sm-4">
        <p *ngFor="let categoria of afiliado.categoria"><strong>Clases según Estatuto: </strong>{{categoria.nombre}}</p>
      </div>
      <div class="col-sm-4">
        <p *ngFor="let clasificacion of afiliado.clasificacion"><strong>Clasificación: </strong>{{clasificacion.nombre}}</p>
      </div>
      <div class="col-sm-4">
        <p><strong>Información para el directorio: </strong>{{afiliado.informaciondirectorio}}</p>
      </div>
      <div class="col-sm-4">
        <p *ngFor="let seccional of afiliado.seccional"><strong>Seccional: </strong>{{seccional.nombre}}</p>
      </div>

      <div class="col-sm-4">
        <p *ngFor="let tipoafiliado of afiliado.tipoafiliado" ><strong>Clasifiación de Afiliado Acodal: </strong>{{tipoafiliado.nombre}}</p>
      </div>

    </div>
    <br>
    <hr class="style1">
    <br>
    <h3>Grupos de afinidad</h3>
    <div *ngFor="let afinidad of todasAfinidades">
      <strong>{{afinidad.nombre}}</strong>
      <div *ngFor="let subafinidad of  afinidad.sub">
       <p>{{subafinidad}}</p>
      </div>
    </div>
    <h3 [hidden]="Isnatural">Estudios</h3>
    <table [hidden]="Isnatural" class="table table-bordered">
      <tr>
        <th>nivel</th>
        <th>Titulo</th>
        <th>Institución</th>

      </tr>
      <tr *ngFor="let Estudio of afiliado.estudio">
        <td>{{Estudio.nivel}}</td>
        <td>{{Estudio.titulo}}</td>
        <td>{{Estudio.universidad}}</td>

      </tr>
    </table>
    <h3 [hidden]="IsJuridico">Beneficiarios</h3>
    <table [hidden]="IsJuridico" class="table table-bordered">
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Cargo</th>
        <th>Correo</th>
        <th>Telefono</th>
      </tr>
      <tr *ngFor="let Beneficiario of afiliado.beneficiarios">
        <td>{{Beneficiario.nombres}}</td>
        <td>{{Beneficiario.apellidos}}</td>
        <td>{{Beneficiario.cargo}}</td>
        <td>{{Beneficiario.correo}}</td>
        <td>{{Beneficiario.telefono}}</td>
      </tr>
    </table>

    <br>
    <hr class="style1">
    <br>
   
    <h3>Documentos</h3>
    <table class="table table-bordered">
      <tr>
        <th>Tipo documento</th>
        <th>Url</th>
      </tr>
      <tr *ngFor="let Docsoporte of afiliado.docsoporte">
        <td *ngFor="let doc of Docsoporte.tipodocumentosoporte" >{{doc.nombre}}</td>
        <td><a target="_blank" href={{Docsoporte.urldocumento}}>{{Docsoporte.urldocumento}}</a></td>
      </tr>
    </table>

    <h3>Facturas </h3>
    <button class="btn btn-info" (click)="getfacturas()">Ver facturas</button>
    &nbsp;
    &nbsp;
    <table [hidden]="IsFacturas" class="table table-bordered">
      <tr>
        <th>numero</th>
        <th>fecha de pago</th>
        <th>valor (COP)</th>
        <th>estado</th>
        <th>soporte</th>
      </tr>
      <tr *ngFor="let factura of Facturas">
        <td >{{factura.numero}}</td>
        <td >{{factura.fecha_pago}}</td>
        <td >{{factura.v_pagado}}</td>
        <td >{{factura.estado}}</td>
       <td><a target="_blank" href={{factura.documento}}>{{factura.documento}}</a></td>
      </tr>
    </table>
  </div>
</div>

<!--
<div class="row">
  <div class="col-sm-4" *ngFor="let documento of Documento">
    <h3>{{documento.tipodocumentosoporte[0].nombre}}</h3>
    <embed width=400 height=700 src="https://acodal-files.s3.amazonaws.com/1565322011280Mapa-por-seccionales.pdf">

  </div>
</div>
-->