<h1> <i class="far fa-eye"></i> Registros</h1>

<table datatable [dtOptions]="dtOptions" class="table table-striped table-responsive-md btn-table" *ngIf="myTable">
  <thead>
    <tr>
      <td>Usuario</td>
      <td>fecha</td>
      <td>accion</td>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let log of log">
      <td >{{ log.user[0].firstname}} {{log.user[0].lastname}}</td>
      <td>{{ log.fecha}}</td>
      <td>{{ log.accion}}</td>


    </tr>
  </tbody>
</table>