<h1> <i class="far fa-edit"></i> Editar Tipodocumentosoporte</h1>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
     <div class="form-group">
<label class="col-md-4">Nombre</label>
<input type="text" class="form-control" formControlName="nombre" #nombre [(ngModel)] = "tipodocumentosoporte.nombre"/>
</div>
<div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['nombre'].errors.required">
Nombre es requerido.
</div>
</div>
<div class="form-group">
<label class="col-md-4">Tipo</label>
<input type="text" class="form-control" formControlName="tipo" #tipo [(ngModel)] = "tipodocumentosoporte.tipo"/>
</div>
<div *ngIf="angForm.controls['tipo'].invalid && (angForm.controls['tipo'].dirty || angForm.controls['tipo'].touched)" class="alert alert-danger">
<div *ngIf="angForm.controls['tipo'].errors.required">
Tipo es requerido.
</div>
</div>
<div class="form-group">
    <button (click)="updateTipodocumentosoporte(nombre.value, tipo.value)"
    [disabled]="angForm.pristine || angForm.invalid"
    class="btn btn-primary"> Tipodocumentosoporte</button>
  </div>

    </form>
  </div>
</div>