<h1> <i class="far fa-eye"></i> Ver Documento</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Afiliado</td>
 <td>Tipodocumentosoporte</td>
 <td>Urldocumento</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let documento of documento">
<td>{{ documento.afiliado}}</td>
<td>{{ documento.tipodocumentosoporte}}</td>
<td>{{ documento.urldocumento}}</td>
<td><a [routerLink]="['edit', documento._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteDocumento(documento._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
