<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<h1><img width="300" height="200"src="assets/img/acodal.svg"></h1>
<p>&nbsp;</p>
<h2>Afiliado</h2>
<p>&nbsp;</p>

&nbsp;
<a routerLink="/aspirantenatural/create" routerLinkActive="active" class="btn btn-light">
<i class="far fa-user fa-5x"></i>
<h5 class="card-title">Persona Natural</h5>
</a>
&nbsp;
<a routerLink="/aspirantejuridico/create" routerLinkActive="active" class="btn btn-light">
    <i class="fa fa-users fa-5x"></i>
    <h5 class="card-title">Persona Juridica</h5>
    </a>
<p></p>
